<h1>Doses#new</h1>
<p>Find me in app/views/doses/new.html.erb</p>

<h1>Add a Dose</h1>

    <%= simple_form_for (@cocktail, @dose) do |f| %>
        <%= f.association :ingredient, input_html: { class: "beautiful-dropdown"}, include_hidden: false  %>
        <br><%= f.input :description %><br>
<%= f.button :submit, class: "btn btn-primary" %>
    <% end %>
